[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-jose = "*"
passlib = "*"
python-multipart = "*"
replit = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
